@model Recipe
@{
    ViewBag.Title = "eatME Recipes Home Page";
}
<div id="content">
    <div id="pictureDiv">
        <img id="picture" src="~/images/brown-fish-fillet-on-white-ceramic-plate-46239.jpg" />
        <h6 class="credits">Photo by Kaboompics.com from Pexels</h6>

    </div>
    <div id="text">
        <p>Cooking is chemistry, only delicious. You might think this traditionally domestic pursuit 
        isn’t geeky, but you’re wrong: combining cheap ingredients into a delicious meal is the ultimate 
        life hack.</p>
        <p>Join our cookers!! Share your recipes!!</p>
        <p> Use and learn the shared recipes from our contributors!!</p>
        <p>See how cooking can transform your life and your familie's.</p>
        <h6 class="credits">By: https://www.makeuseof.com/tag/5-unique-sites-finding-sharing-free-recipes/ </h6>
    </div>
</div>


