@model Recipe
@{
    ViewBag.Title = "Profile Page for the user's profile management";
}

<h3>

    View User profile customizations here!!!
</h3>
<h4>This is the UserPage from assignment 01 – Page for a user-controlled interaction (rating, commenting, accessing, editing, etc)</h4>