@model Comp229_301041266_Assign03.Models.Favourite

<form asp-action="FavAdd" method="Post">
    <input type="hidden" asp-for="RecID" value="@ViewBag.RecID" />
    <div>
        <label asp-for="fvname">Favourite Name</label>
        <input asp-for="fvname" />
    </div>
    <div>
        <button type="submit">Save Favourite</button>
        <button type="reset">Clear Fields</button>
        <button asp-controller="Recipe" asp-action="RecipeDetails" asp-route-RecipeID="@ViewBag.RecID">Cancel</button>
    </div>
</form>
